{% extends 'store/main.html' %} {% load static %} {% block content %}


<div class="row">
    <div class="col-lg-12">

        <div id="box-element">
            <a href="{% url 'store' %}" class="btn btn-outline-dark">&#x2190;Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items:<strong>3</strong></h5>
                    </th>
                    <th>
                        <h5>Total:<strong>$42</strong></h5>
                    </th>
                    <th>
                        <a style="float: right;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>

        <div id="box-element">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 1;"><strong>Item</strong></div>
                <div style="flex: 1;"><strong>Price</strong></div>
                <div style="flex: 1;"><strong>Quantity</strong></div>
                <div style="flex: 1;"><strong>Total</strong></div>
            </div>

            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 1;"><img class="row-image" src="{% static 'images/cart.JPG' %}"></div>
                <div style="flex: 1;"><strong>Price</strong></div>
                <div style="flex: 1;">
                    <div>
                        <a href="#"><img style="display: inline-block; width: 10px; height: 10px;" src="{% static 'images/up.jpg' %}"></a>
                    </div>
                    <div>
                        <a href="#"><img style="display: inline-block; width: 10px; height: 10px;" src="{% static 'images/down.png' %}"></a>
                    </div>
                </div>
                <div style="flex: 1;"><strong>Total</strong></div>
            </div>

        </div>


    </div>
</div>

<div class="row">

</div>
{% endblock content %}